.Container {
    /* border: 2px solid red; */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    gap: 1rem;
}

.Aside button {
    /* background-color: black; */
    width:100%;
    /* margin: 1rem; */
}

.Aside {
    /* border: 2px solid red; */
    /* width: 100%; */
}

.Table {
    /* border: 2px solid blue; */
    width: 100%;
    text-align: left;
}

.Table td {
    border: 2px solid black;
    padding: 1rem;
}

@media (min-width: 48rem){
    .Container {
        border: 2px solid green;
        padding: 2rem;
        margin: 2rem;
    
        display: grid;
        grid-template-columns: .25fr .75fr;
        grid-template-rows: 1fr;
        gap: 1rem;
    }
}